#foot
{
    text-decoration: none;
    color:#C5B358;
    height:auto;
    width: auto;
    padding: 10px;
    font-size: 24px;
    margin: 10px;
    border: 1px solid #C5B358;
    border-radius: 10px;
}
